@using ConcordiaLab.Controllers.Mock_Data.MockModels;

@{
    var scientists = ViewData["Scientists"] as IEnumerable<MockScientist> ?? Enumerable.Empty<MockScientist>();
    var experimentId = ViewData["ExperimentId"] as int?;
    var selectedScientistId = ViewData["SelectedScientistId"] as int?;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Institution"] - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ConcordiaLab.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <form id="scientist-form" method="get" asp-controller="Home" asp-action="@ViewContext.RouteData.Values["action"]">
                    <input type="hidden" name="experimentId" value="@ViewData["ExperimentId"]"/>
                    <select id="scientist-dropdown" class="form-select" name="scientistId" onchange="document.getElementById('scientist-form').submit()">
                        <option value="0" selected="@(selectedScientistId == 0)">All Scientist</option>
                        @foreach (var scientist in scientists)
                        {
                            <option value="@scientist.Id" selected="@(scientist.Id == selectedScientistId)">@scientist.Name @scientist.Surname</option>
                        }
                    </select>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Concordia Lab - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(function () {
        var experimentScientistIds = @(ViewData["ExperimentScientistIds"] != null ? Html.Raw(Json.Serialize(ViewData["ExperimentScientistIds"])) : "[]");

        var currentAction = "@(ViewContext.RouteData.Values["action"].ToString())";
        
        $('#scientist-dropdown').change(function () {
            var selectedScientistId = $(this).val();
            var selectedScientistIsInExperiment = experimentScientistIds.includes(parseInt(selectedScientistId));
            if (currentAction === "Detail" && selectedScientistIsInExperiment) {
                $('#scientist-form').attr('action', '/Home/Detail');
            } else {
                $('#scientist-form').attr('action', '/Home/Index');
            }
            $('#scientist-form').submit();
        });
    });
</script>

<style>
    .bg-custom {
        background-color: lightgrey;
        width: 20%;
    }

    .user-name {
        background-color: white;
        width: 60%;
        text-align: center;
        border-radius: 4px;
        margin: 2px;
    }

    .login {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
    }
</style>